@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap");

* {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
}

.hero {
  background-image: url(../images/cover4.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}

ul li a:hover {
  color: coral;
}
*/ .flowerImageRow {
  display: flex;
  flex-direction: row;
  background-color: olive;
  text-align: center;
  flex-wrap: wrap;
  flex-grow: shrink;
}
.title {
  text-align: center;
  font-style: italic;
  height: 100px;
  background-color: rgb(30, 23, 24);
}
.h1-header {
  font-style: oblique;
  color: rgb(36, 124, 95);
  text-align: center;
  height: 100px;
  position: relative;
}
.larger-image {
  width: 500px;
}
.h3-class {
  font-size: 30px;
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

header {
  height: 70px;
  background-color: rgb(4, 136, 96);
  margin-bottom: 30px;
}

.intro {
  margin-bottom: 40px;
  text-align: center;
  color: rgb(35, 35, 35);
}

main {
  padding: 20px;
}

.btn {
  background-color: rgb(4, 136, 96);
  color: rgb(219, 184, 184);
}

.footer {
  background-color: rgb(35, 35, 35);
  width: 100%;
  height: 100px;
  position: fixed;
  bottom: 0;
}

.footer p {
  color: whitesmoke;
  text-align: center;
  height: 100%;
  padding: 40px;
}
.container {
  background-color: rgb(192, 234, 218);
  /* opacity: 0.1; */
}

.arrow-footer {
  position: fixed;
  background-color: rgb(4, 136, 96);
  width: 40px;
  height: 40px;
  bottom: 30px;
  right: 40px;
  font-size: 25px;
  color: whitesmoke;
  text-align: center;
}
